* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

img {
  width: 250px;
  height: 180px;
}

#container {
  width: 90%;
  height: auto;
  min-height: 600px;
  margin: 0px auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid rgba(225, 225, 226, 0.8);
  -webkit-box-shadow: 0px 0px 10px #ccc;
          box-shadow: 0px 0px 10px #ccc;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
}

.logo {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 10px;
  margin-left: 20px;
  color: black;
  font-family: Helvetica;
  font-style: italic;
  font-weight: 900;
  font-size: 35px;
  text-shadow: 1px 1px 0px #ccc;
  text-transform: uppercase;
}

.logo h1 {
  font-family: Helvetica;
  font-style: italic;
  font-weight: 900;
  font-size: 35px;
}

#menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  height: 100%;
  padding-right: 20px;
}

#menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  list-style: none;
}

#menu a {
  color: #444;
  text-transform: uppercase;
  padding: 15px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

#menu a:hover {
  background: #ccc;
  color: white;
}

#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.project {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 25px;
  margin-right: 20px;
  border: 1px solid #ccc;
}

.project img {
  width: 100%;
}

.project-info {
  padding: 10px;
}

.project-info a {
  font-size: 16px;
  color: black;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.project-info a:hover {
  color: green;
}

.project-info p {
  font-size: 16px;
  color: gray;
}

#aside {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  margin-right: 30px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#aside h2 {
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: 100;
  color: #444;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
  text-align: center;
}

#aside ul {
  list-style: none;
}

#aside ul li {
  padding-bottom: 20px;
}

#aside a {
  display: block;
  padding: 20px;
  background-color: #eee;
  color: #444;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

#aside a:hover {
  background-color: #444;
  color: #eee;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(225, 225, 226, 0.8);
}

#footer .logo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  opacity: 0.5;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
  margin-right: 20px;
}

#footer .info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 20px;
  color: #444;
}

@media (max-width: 1333px) {
  #header {
    text-align: center;
  }
  #menu > ul {
    margin-top: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 601px) {
  #footer .logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
    margin: 0px;
  }
  #footer .info {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
    margin: 0px;
  }
  #content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #aside {
    margin: 0px;
  }
  .project {
    margin-right: 20px;
    margin-left: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */